body {
    margin: 0;
    padding: 4px;
    background: #2b3741;
    background-image: url(stackofbriks.png);
    background-repeat: repeat;
    font-family: monospace;
}

.menu {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0 0 5px 0;
    min-height: 45px;
    width: 100px;
}

@-webkit-keyframes blink {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
@-moz-keyframes blink {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
@-o-keyframes blink {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
@keyframes blink {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.blink {
    -webkit-animation: blink 1s infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -moz-animation: blink 1s infinite;
    -moz-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -o-animation: blink 1s infinite;
    -o-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    animation: blink 1s infinite;
    animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
}

#R {
    font-size: 120px;
    color: #fff;
    position: fixed;
    right: 20px;
    top: 0px;
    margin: 0;
    padding: 0;
    display: none;
}

#hint {
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 35px;
    overflow: visible;
}

#hint > .text {
    background: #edeefe;
    color: #222;
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    border: 2px solid #2b3741;
}

#hint > .arrow {
    position: fixed;
    left: 20px;
    top: 13px;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #edeefe;
    border-left: 12px solid transparent;
}

#hint > .arrowBorder {
    position: fixed;
    left: 19px;
    top: 9px;
    border-top: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #2b3741;
    border-left: 13px solid transparent;
}

#players {
    width: 250px;
    background: #988072;
}

#players[contenteditable=true] {
    background: #edeefe;
}

.action {
    cursor: pointer;
    font-size: 16px;
    background: #6d4;
    border-color: #4b2;
    color: #222;
}

button[disabled] {
    background: #d64;
    border-color: #b42;
    color: #222;
}

img.runner, span.nametag {
    position: absolute;
}

span.nametag {
    font-size: 60px;
    text-transform: uppercase;
    color: #2b3741;
    width: 100000px;
}

#arena {
    width: 100%;
    height: 0px;
    position: relative;
    background: #818d01;
    overflow: hidden;
}

#arenaGoal {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    border-left: 3px dotted #dd2401;
}
