/* base */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
}

h1 {
    margin: 0;
}

ul {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* layout */

header {
    background-color: #333;
    padding: 20px;
    display: block;
}

@media screen and (min-width: 650px) {
    header {
        margin-bottom: 10px;
    }

    .inner {
        max-width: 600px;
        margin: 0 auto;
    }
}

/* modules */

.me {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.me h1 {
    display: inline;
    color: BurlyWood;
    font-weight: normal;
    font-size: 34px;
    -webkit-order: 2;
    order: 2;
}

.me img {
    width: 50px;
    margin-right: 10px;
    -webkit-order: 1;
    order: 1;
}

.projects {
    list-style: none;
    padding: 0;
}

.projects li {
    font-size: 25px;
}

.projects li a {
    color: Tan;
    display: block;
    text-decoration: none;
    padding: 20px;
    background: SaddleBrown;
    border-bottom: 2px solid Tan;
    text-align: center;
}

.projects li:first-of-type a {
    border-top: 2px solid Tan;
}

@media screen and (min-width: 650px) {
    .projects li {
        margin-bottom: 5px;
    }

    .projects li a {
        border: 2px solid Tan;
    }
}

.projects li a:hover {
    background: Chocolate;
    text-decoration: underline;
}
